<div class="newsletter">
    <form action="https://tinyletter.com/bstiel" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/bstiel', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p>
            <label for="tlemail">Subscribe for hands-on Celery tips and tricks</label>
        </p>
          <p>
            <input type="email" class="email" placeholder="Type your email..." name="email" id="tlemail" required/>
        </p>
          <input type="hidden" value="1" name="embed"/>
          <input class="button" type="submit" value="Subscribe" />
    </form>
</div>