<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{ $asset := resources.Get "/bjoern.jpg" }}
					{{ $img := $asset.Fit "100x100" }}
					<div style="margin-bottom: 25px;"><img src="{{ $img.RelPermalink }}" style="border-radius: 50%; border-width: 0px; width: 50px; margin-bottom: -20px; margin-right: 10px;" alt="Bjoern">{{ .Site.Params.pageIntro.header }}</div>
					<p>{{ .Site.Params.pageIntro.body }}</p>
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br>{{ template "partials/pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ template "partials/newsletter.html" . }}
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
